
<div class="info" *ngIf="name">
  <h1 class="text-center">Astronaut Record</h1>
  <br />
  <table class="table table-bordered secondary-table">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Images</th>
      <th class="text-center">More Information</th>
    </tr>
    <tr>
      <td> {{name}}</td>
      <td class="text-center"><a href="https://www.google.com/search?tbm=isch&q={{name}}" fragment="images"  class="btn btn-default btn-primary" target="_blank" role="button">View</a></td>
      <td class="text-center"><a href="https://www.google.com/search?q={{name}}" class="btn btn-default btn-primary" target="_blank" role="button">View</a></td>
    </tr>
  </table>
  <br />
  <br/><br/>
</div>
